.dashboard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    }
    .header { 
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .logo { 
        display: flex;
        align-items: center;
        padding-left: 2em;
        font-family: 'Bangers', cursive;
        font-size: 80px;
    }
    
    .roll-the-dice {  
        display: grid;
        grid-template-columns: 1fr 3fr;
        padding: 10px;
        align-items: center;
    }

    .dice {
        display: flex;
        flex-direction: row;
    }

    button {
        border-radius: 50%;
        height: 80%
    }

    .die {
        max-width: 45%;
        padding-left: 10px;
    }
    
.main { 
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;        
    }

    .board { 
        padding: 10px;
    }

    .inner-board { 
        display: grid;
        grid-template-columns: repeat(21, 1fr);
        grid-template-rows: repeat(15, 1fr);
        grid-column-gap: 3px;
        grid-row-gap: 3px;
        max-width: 100%;
        height: 100%;
    }

    .square {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    .dash { 
        background-color: yellow;
        padding: 10px;
    }

    .inner-dash { 
        background-color: gray;
        border-radius: 2em;
    }